.login {
    width: 100vw;
    height: 100vh;
    background: #060c40 url('../../assets/login_bg.jpg') no-repeat fixed center/cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.header {
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    height: 60px;
}
.logo {
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
    display: inline-block;
}
.login-form {
    width: 210px;
    padding: 24px;
    margin: auto;
    margin-top: 200px;
    color: #fff;
    background: url('../../assets/login_block.png') no-repeat fixed center/cover;
}
.login-form .el-form-item__label{
    color:#fff;

}
.el-form-item {
    margin-bottom: 0px!important;
}
.logo {
    font-size: 20px;
    font-weight: 900;
    /* margin-left: 20px; */
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.el-form-item__error{
    padding-top: 0px!important;
}